/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .small-margin {
  margin-right: 20px;
 }


 .message_container {
  max-height: 300px; /* Set a maximum height for the div */
  overflow-y: scroll; /* Add a vertical scrollbar when content exceeds the height */
  border: 1px solid #ccc; /* Optional: Add a border for better visibility */
  padding: 10px; /* Optional: Add padding for better styling */
}

.dot {
  width: 20px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
  background-color: grey;
   &.online {
    background-color: green;
   }
  border-radius: 50%; /* This makes the div round, creating a dot */
}
